.about-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .about-bg-img {
        display: block;
        margin-top: 92px;
        background: url(/src/Assets/Images/about-hero-img.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px
    }

    main{
        flex-grow: 1;
        background: #FFF7ED;

        .about-content-container {
            display: flex;
            flex-direction: column;
            padding: 30px;
            gap: 40px;
            
            .about-hero {
                .about-hero-title{
                    line-height: 1;
                }
                
                .about-hero-subtitle {
                    margin-top: 20px;
                }
            }

        }

        .about-explore {
            background: #FFCC8D;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 5px;

            .about-explore-btn {
                width: max-content;
                background-color: #161616;
                color: white;
                padding: 12px 20px;
                border-radius: 5px;
                border: none;
                font-weight: 600;
                cursor: pointer;
                font-family: Inter, system-ui, 
                Avenir, Helvetica, Arial, sans-serif;
            }
        }
    }
}