// mixins

@mixin van-type-box ($bg, $color: #FFF7ED, $padding: 0.5rem 1.5rem) {
    display: inline-block;
    width: max-content;

    font-family: 'Inter', system-ui, 
    'Avenir', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;

    border: none;
    border-radius: 0.5rem;

    background-color: $bg;
    color: $color;
    padding: $padding;
}

// variables
.generic-van {
    @include van-type-box(
        $bg:#FFEAD0, 
        $color:#4D4D4D, 
        $padding:1.2rem 2rem
    );
    cursor: pointer;
}

.simple-van {
    @include van-type-box($bg:#E17654);
}

.luxury-van {
    @include van-type-box($bg:#161616);
}

.rugged-van {
    @include van-type-box($bg:#115E59);
}

// page

.vans-page {
    .vans-page-main-content {

        .vans-page-main-content-container {
            justify-content: center;
            gap: 4rem;

            .filter-container{
                display: flex;
                flex-direction: column;
                gap: 2rem;
        
                .filter-options {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 2rem;
        
                    .clear-filter {
                        background: none;
                        border: none;
                        font-size: 1.6rem;
                        text-decoration: underline;
                        cursor: pointer;
                    }
        
                    .clear-filter:hover {
                        color: #FF8C38;
                    }
                }
            }
        
            .cards-container {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
                gap: 4rem;
                justify-content: center;
        
                .van-card {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
        
                        .van-card-img {
                            width: 100%;
                            object-fit: cover;
                            border-radius: 0.5rem;
                        }
        
                        .van-card-description{
                            display: flex;
                            justify-content: space-between;
        
                            .van-card-name-container {
                                display: flex;
                                flex-direction: column;
                                gap: 0.7rem;
        
                                .van-card-name {
                                    font-weight: 500;
                                }
                            }
                
                            .van-card-price-container {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
        
                                .van-card-price-value {
                                    font-weight: 500;
                                }
        
                                .van-card-price-duration {
                                    font-size: 1.3rem;
                                }
                            }
                        }
                }
            }
        }
    }
}






