.home-page {
    .home-page-main-content {
        background: url('/src/Assets/Images/home-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        
        .home-page-main-content-container {
            color: #FFFFFF;
            max-width: 80rem;

            .home-title {
                margin-top: 2rem;
            }
    
            .home-subtitle {
                margin-top: 2rem;
            }
    
            .home-button {
                cursor: pointer;
                margin-top: 4rem;
                width: 100%;
                padding: 1.2rem;
                border-radius: 0.5rem;
                border: none;
                background-color: #FF8C38;

                font-family: Inter, system-ui, 
                'Avenir', Helvetica, Arial, sans-serif;
                font-size: 1.8rem;
                font-weight: 600;
                color: #FFFFFF;
            }
    
            .home-button:hover {
                background-color: #FFA961;
                transition: background-color 0.3s ease-in-out;
            }
        }
    }
}


