// Mixins

@mixin van-type-box ($bg, $color: #FFF7ED, $padding: 5px 10px) {
    display: inline-block;
    width: max-content;

    font-family: 'Inter', system-ui, 
    'Avenir', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;

    border: none;
    border-radius: 5px;

    background-color: $bg;
    color: $color;
    padding: $padding;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html, body, #root {
    height: 100%;
  }
  
body {
    font-family: Inter, system-ui, 
    Avenir, Helvetica, Arial, sans-serif;
    background-color: rgb(70, 70, 70);
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    .nav-container {
        background-color: #FFF7ED;
        color: #000000;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
        
        .nav-links {
            display: flex;
            list-style: none;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            transition: color 0.3s ease-in-out;
            width: 100%;

            .nav-logo {
                font-size: 1.7rem;
                font-weight: 800;
                margin-left: 0;
                margin-right: auto;
            }

            .nav-about,
            .nav-vans {
                font-weight: 500;
                font-size: 1.1rem;
            }

            a {
                text-decoration: none;
            }

                a:visited {
                    color: inherit;
                }

                a:hover {
                    color: #FF8C38;
                }
        }
    }
}

footer {
    .footer-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #252525;
        padding: 20px;
        color: #AAAAAA;
    }
}

//utility

.generic-van {
    @include van-type-box(
        $bg:#FFEAD0, 
        $color:#4D4D4D, 
        $padding:12px 20px
    );
    cursor: pointer;
}

.simple-van {
    @include van-type-box($bg:#E17654);
}

.luxury-van {
    @include van-type-box($bg:#161616);
}

.rugged-van {
    @include van-type-box($bg:#115E59);
}

  