* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html, body, #root {
    height: 100%;
  }
  
body {
    font-family: Inter, system-ui, 
    Avenir, Helvetica, Arial, sans-serif;
    background-color: rgb(70, 70, 70);
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    main{
        display: flex;
        flex-grow: 1;

        .home-content-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 92px;
            padding: 50px 30px;
            background: url(/src/Assets/Images/home-bg.png);
            background-size: cover;
            background-repeat: no-repeat;
            color: #FFFFFF;
    
            .home-subtitle {
                margin-top: 20px;
            }
    
            .home-button {
                margin-top: 50px;
                width: 100%;
                padding: 12px;
                border-radius: 5px;
                border: none;
                background-color: #FF8C38;
                color: #FFFFFF;
                font-weight: 600;
                cursor: pointer;
                font-family: Inter, system-ui, 
                Avenir, Helvetica, Arial, sans-serif;
            }

            .home-button:hover {
                background-color: #FFA961;
                transition: background-color 0.3s ease-in-out;
            }
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .about-bg-img {
        display: block;
        margin-top: 92px;
        background: url(/src/Assets/Images/about-hero-img.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px
    }

    main{
        flex-grow: 1;
        background: #FFF7ED;

        .about-content-container {
            display: flex;
            flex-direction: column;
            padding: 30px;
            gap: 40px;
            
            .about-hero {
                .about-hero-title{
                    line-height: 1;
                }
                
                .about-hero-subtitle {
                    margin-top: 20px;
                }
            }

        }

        .about-explore {
            background: #FFCC8D;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-radius: 5px;

            .about-explore-btn {
                width: max-content;
                background-color: #161616;
                color: white;
                padding: 12px 20px;
                border-radius: 5px;
                border: none;
                font-weight: 600;
                cursor: pointer;
                font-family: Inter, system-ui, 
                Avenir, Helvetica, Arial, sans-serif;
            }
        }
    }
}

nav {
    .nav-container {
        background-color: #FFF7ED;
        color: #000000;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
        
        .nav-links {
            display: flex;
            list-style: none;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            transition: color 0.3s ease-in-out;
            width: 100%;

            .nav-logo {
                font-size: 24px;
                font-weight: 600;
                margin-left: 0;
                margin-right: auto;
            }

            a {
                text-decoration: none;
            }

                a:visited {
                    color: inherit; // or set to any other color
                }

                a:hover {
                    color: #FF8C38;
                }
        }
            
    
    }
}

footer {
    .footer-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #252525;
        padding: 20px;
        color: #AAAAAA;
    }
}


  