// mixins

@mixin pages-layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@mixin pages-main-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-top: 9.7rem;

    background-color: #FFF7ED;
}

@mixin pages-main-content-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    max-width: 80rem;
    padding: 3rem;
    margin: 0 auto;
}

//global styles

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html, body, #root {
    height: 100%;
    font-size: 62.5%; // 1rem = 10px
  }
  
body {
    font-family: 'Inter', system-ui, 
    'Avenir', Helvetica, Arial, sans-serif;
    background-color: rgb(70, 70, 70);
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    .nav-container {
        background-color: #FFF7ED;
        color: #000000;
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
        
        .nav-links {
            display: flex;
            list-style: none;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
            transition: color 0.3s ease-in-out;
            width: 100%;

            .nav-logo {
                font-size: 3rem;
                font-weight: 800;
                margin-left: 0;
                margin-right: auto;
            }

            .nav-about,
            .nav-vans {
                font-weight: 500;
                font-size: 2rem;
            }

            a {
                text-decoration: none;
            }

                a:visited {
                    color: inherit;
                }

                a:hover {
                    color: #FF8C38;
                }
        }
    }
}

footer {
    .footer-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #252525;
        padding: 2rem;
        color: #AAAAAA;
    }
}

//pages

.home-page, .about-page, .vans-page {
    @include pages-layout;
}

.home-page-main-content, 
.about-page-main-content, 
.vans-page-main-content {
    @include pages-main-content;
}

.home-page-main-content-container,
.about-page-main-content-container,
.vans-page-main-content-container {
    @include pages-main-content-container;
}


  